#record_button {
  border: 1px solid $white;

  &.initial {
  	&:before {
  		font-family: $font-fa;
  		content: '\f130';
  		display: block;
  	}
  }
}

#close_button {
  order: 1;
  &:before {
    font-family: $font-fa;
    content: '\f00d';
    display: block;
  }

  border-color: $wisp-dark-gray;
}

#upload_record {
  pointer-events: all;
}

#cancel_record {
  pointer-events: all;
}

#play_preview {
  pointer-events: all;
}

.ui-center-button {
  @include circle(60px, $wisp-dark-gray);
  color: $white;
  font-size: $font-semi-large;
  margin-bottom: 10%;
  text-align: center;
  pointer-events: all;

  outline: none;
  text-align: center;

  &:active{
    background: $wisp-blue;
  }
}
