.voice-text {
  margin-top: 0;
  max-width: 50vw;
  color: $white;
  order: 3;
  font-size: $font-medium-large;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;

  -webkit-animation: slideup 0.8s ease-in-out;
  animation: slideup 0.8s ease-in-out;
}

@keyframes slideup {
  0% { 
    opacity: 0;
    transform: translate(0, 50px);
    -webkit-transform: translate(0, 50px);
  } 100% { 
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, -0);
  }
}