body {
  background-color: $wisp-dark-gray;
  margin: 0;
  font-family: $font-roboto;
  overflow: hidden;
}

#UI {
  height: 100%;
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  pointer-events: none;
}

.ui-shade {
  background: $wisp-transparent-black;
  pointer-events: all !important; // LAZY FOOL
}

#message{
  order: 2;
  color: $white;
}

.wisp-date {
  font-size: 10px;
}

#map {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10
}
