body {
  background-color: $wisp-dark-gray;
  margin: 0;
  font-family: $font-roboto;
  overflow: hidden;
}

#UI {
  height: 100%;
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.ui-shade {
  background: rgba($wisp-dark-gray, 0.8);
  pointer-events: all !important; // LAZY FOOL
}

#map {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10
}
