/* Colors */
$white: #fff;
$wisp-gray: #7a7a7a;
$wisp-dark-gray: #424242;
$wisp-light-black: #252424;
$wisp-blue: #00aeef;
$wisp-red: #fb4359;
$wisp-transparent-black: rgba(0, 0, 0, 0.8);

/* Fonts */
$font-fa: FontAwesome;
$font-roboto: Roboto;
$font-xxxx-small: 9px;
$font-xxx-small: 10px;
$font-xx-small: 11px;
$font-x-small: 12px;
$font-small: 14px;
$font-medium-small: 15px;
$font-medium: 16px;
$font-medium-large: 18px;
$font-semi-large: 20px;
$font-large: 22px;
$font-x-large: 24px;
$font-xx-large: 26px;

/* Icons */
$icon-send: '\f064';
$icon-microphone: '\f130';
$icon-close: '\f00d';
$icon-replay: '\f021';
